*
{
    margin: 0px;
    padding: 0px;
}
.header
{
    display: grid;
    grid-template-columns: 10% 90%;
    background-image:linear-gradient(rgba(235, 160, 10, 0.8),rgba(255,192,68,0.7)),url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/banner.png);
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position:center;
}
.logos
{
    
    margin-top: -50px;
    margin-left: 30px;
}
.burger
{
    margin-left: 380px;
    margin-top: -30px;
}
.box
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Burger%20Image.png);
    background-size: cover;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 180px;
    height: 340px;
    width: 450px;
}
.box h1
{
    color: white;
    font-size: 18px;
    padding-top: 25px;
    margin-left:-250px;
    font-family: monospace;
}
.box h2
{
   color: white;
   font-size: 25px;
   margin-top: 5px;
   margin-left: -90px;
   font-family:monospace;
   line-height: 15px;
}
.fox
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Image.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
   margin-left: 700px;
   margin-top: -330px;
    height: 150px;
    width: 450px;
}
.fox h1
{
    color: white;
    font-size: 18px;
    padding-top: 25px;
    margin-left:-250px;
    font-family: monospace;

}
.fox h2
{
    letter-spacing: 2px;
    color: white;
    font-size: 25px;
    margin-top: 2px;
    margin-left: -290px;
    font-family:monospace;
    line-height: 25px;
    
}
.fox h3
{
    letter-spacing: 2px;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    margin-left: -260px;
    font-family:monospace;
    line-height: 15px;
}
.dox
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Image1.png);
    background-size: cover;
    background-position: right;
    height: 150px;
    width: 450px;
    margin-left: 700px;
    margin-top: 30px;
    border-radius: 10px;
}
.dox h1
{
    color: white;
    font-size: 18px;
    padding-top: 25px;
    margin-left: -250px;
    font-family: monospace;   
}
.dox h2
{
    letter-spacing: 1px;
    color: white;
    font-size: 25px;
    margin-top: 2px;
    margin-left: -250px;
    font-family:monospace;
    line-height: 25px;   
}
.boom
{
    background-color: rgb(248, 194, 15);
    height: 30px;
    width: 230px;
    margin: 50px auto auto auto ;
}
.boom h1
{
    color: brown;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    font-weight: bolder;
    font-family:Verdana, Genva, Tahoma, sans-serif;
}
.boom h2
{
    color: #3d2514;
    font-size: 40px;
    text-align: center;
    padding: 8px;
    letter-spacing:3px;
    margin-left: -58px;
    margin-top: 15px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para p
{
    margin-top: 90px;
    font-weight: lighter;
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;
}
.rect
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 500px;
    width: 100%;
}
.angle1
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Burger13.png);
    background-size: cover;
    margin-top: 50px;
    margin-left: -20px;
    height: 300px;
    width: 400px;
}
.subangle1
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/sh.png);
    background-size: cover;
    height: 100px;
    width: 600px;
    margin-top: 300px;
    margin-left: -80px;
}
h1
{
    color: #3d2514;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    line-height: 20px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.top
{
    height: 40px;
    background-color:  rgb(173, 10, 10);
    width: 180px;
    margin-left: 100px;
}
.top p
{
    color: white;
    padding: 10px;
}
.angle2
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Burger12.png);
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: -30px;
    height: 340px;
    width: 400px;
}
.subangle2
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/sh.png);
    background-size: cover;
    height: 100px;
    width: 600px;
    margin-top: 340px;
    margin-left: -110px;
}
h2
{
  color: #3d2514;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    line-height: 20px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;
}
.tops
{
    height: 40px;
    background-color:  rgb(173, 10, 10);
    width: 180px;
    margin-top: 20px;
    margin-left:110px;
}
.tops p
{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.angle3
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Burger13.png);
    background-position: center;
    background-size: cover;
    margin-top: 55px;
    margin-left:60px;
    height: 300px;
    width: 400px;
}
.subangle3
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/sh.png);
    background-size: cover;
    height: 100px;
    width: 600px;
    margin-top: 300px;
    margin-left: -80px;
}
h1
{
    color: #3d2514;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    line-height: 20px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.topss
{
    height: 40px;
    background-color: rgb(173, 10, 10);
    width: 180px;
    margin-left: 110px;
}
.topss p
{
    color: white;
    padding: 10px;
}
.section
{
    display: flex;
    justify-content: flex-end;
    height: 350px;
    box-shadow: 20px 15px 15px rgba(156, 136, 136, 0.7);
    border-right: 1px solid rgba(55,255,255,0.2);
    width: 1200px;
    margin-left: 50px;
    margin-top: 180px;
}
.square
{
    background-image: url(file:///C:/Users/admin/Desktop/My%20Websites/Burger%20Website/Food%20Image.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 500px;
    margin-top: 25px;
    margin-right: 40px;
}
.discover
{
    margin-left: -970px;
    margin-top: -330px;
}
.discover h1
{
    color: #3d2514;

}
.upcome
{
    margin-left: -670px;
}
.upcome h2
{
    font-size: 50px;
    color: #3d2514;

}
.lorem h3
{
    margin-left:-600px;
    margin-top: 30px;
    line-height: 30px;
    font-size: 20px;
     color:black;
     font-weight: lighter;
    font-family: sans-serif;
}
.don
{
    border-radius: 200px;
    margin-top: 210px;
}
.don h1
{
    font-size: 15px;
    margin-top: -120px;
    font-family: sans-serif;
    color: #3d2514;
}
.don p
{
    font-size: 38px;
    color: #3d2514;
    font-weight: bolder;
    font-family: sans-serif;
}
.bottle
{
    margin-left: 250px;
    margin-top: 50px;
}
.bun
{
    float: right;
    margin-top: -300px;
    height: 250px;
    width: 250px;
    border-radius: 200px;
    box-shadow: 0 15px 15px rgba(15, 14, 14, 0.7);
    border-right: 1px solid rgba(55,255,255,0.2);
}
.table
{
    margin-left: 150px;
    margin-top: -200px;
    
}
.text
{
    border-radius: 5px;
    width:150px;
    padding: 10px 100px 10px 20px;
}
.text1
{
    border-radius: 5px;
    width:150px;
    padding: 10px 100px 10px 20px;
}
.text2
{
    border-radius: 5px;
    width:150px;
    padding: 10px 100px 10px 20px;
}
.form
{
    margin-left: 460px;
    margin-top: -207px;
}
.text3
{
    border-radius: 5px;
    width:150px;
    padding: 10px 120px 10px 20px;
}
.text4
{
    border-radius: 5px;
    width:150px;
    padding: 10px 120px 10px 20px;
}
button
{
    width: 290px;
    border-radius: 5px;
    padding:12px 12px;
    background-color: brown;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    
}
.pic
{
    margin-left: 70px;
    margin-top:-790px;
}
.pic h1
{
    margin-left: -700px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    margin-top: -500px;
}
.pic p
{
    margin-left: -720px;
    margin-top: 40px;
    font-weight: lighter;
    line-height: 30px;
    color: white;
    font-size: 15px;
}
.pic h2
{
    color: white;
    font-size: 15px;
    letter-spacing: -0.5px;
    font-family: monospace;
    margin-left: 400px;
    margin-top: -20px;
}
.image 
{
    margin-left:750px;
    margin-top: -23px;
}
.image1
{
margin-left:750px;
margin-top: -20px;  

}
.icons
{
    display: flex;
    justify-content: flex-end;
     gap: 10px;
    margin-right:90px;
    margin-top: 90px;
}
.info h1
{
    color: white;
    font-size: 15px;
    letter-spacing: -0.5px;
    font-family: monospace;
    margin-left: 400px;
    margin-top: 20px;
}
.week h1
{
    text-shadow: 3px 3px 3px white;
    font-size: 130px;
    color: #3d2514;
    margin-left: 30px;
    margin-top: 140px;
}
.week h2
{
    text-shadow: 3px 3px 3px white;
    margin-top: 65px;
    margin-left: 35px;
    font-size: 50px;
    color: #3d2514;
}
.nav ul
{
 float: right;
 margin-top: -660px;
 margin-right: 80px;
}
.nav ul li
{
    color: #573c20;
   list-style-type:none;    
   display: inline;
   padding: 20px;
   font-size: 25px;
   font-family: monospace;
   font-weight: bolder;
}
.good
{
  float: left;
  margin-top: -520px;
  margin-left: 70px;
}
.good h1
{
    font: lighter;
    color: #3d2514;
    font-size: 13px;
    text-align: center;
    letter-spacing: -0.4px;
    border: 2px dashed black;
    padding: 7px;   
}
.copyrights h1
{
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: lighter;
    text-align: left;
    margin-left: 100px;
    margin-top: -20px;
    letter-spacing: 1px;
}
.vector
{
  margin-top: -400px;
  margin-left: 850px;  
}
.vector h1
{
    font-size: 13px;
    margin-top: -25px;
    margin-left: 50px;
    color: #3d2514;
    text-shadow: none;
}
.vector h2
{
    font-size: 13px;
    margin-top: -19px;
    margin-left: 120px;
    color: #3d2514;
    text-shadow: none;
}
.shape
{
    margin-top: -240px;
}